body {
	height:100vh;
	width:100vw;
    max-width:100%;
    max-height:100%;
	padding:0;
	margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.upload {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background: #2dcb89;
    transition: background 0.3s;
}

.upload.dragover {
    background: #32f1a0;
    transition: background 0.3s;
}

.desc {
    text-align: center;
    color: #fff;
    margin: 0;
    font-family: Raleway, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desc img {
    max-width: 50%;
    max-height: 30%;
    margin: auto;
}

.desc h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 0 1em;
}

.desc h2 {
    font-weight: normal;
    font-size: 1em;
}

.desc h2 a:link {
    color: #fff;
    text-decoration: none;
}

.desc h2 i:hover {
    cursor: pointer;
}




.desc h2 {
    overflow: hidden;
    padding: 0 4px;
}

.desc h2 a {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.desc h2 a::before {
    position: absolute;
    top: 100%;
    content: '';
    /*
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    */
}

/*
.desc h2 a:hover {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
*/

span.author {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 0.8em;
    padding:0.5em 0.8em;
}

span.author a {
    color: #fff;
}
